:root{
    --text-color: #3C354F;
    --primary-color: #FF42A5;
    /* body { background-color: var(--text-color); } */
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    /* regular = 400 */
    /* medium = 500 */
    /* SemiBOld = 600 */
    /* BOld = 700 */
    /* extraBOld = 800 */
}

ul{
    list-style-type: none;
}

a, p{
    text-decoration: none;
    color: var(--text-color);
}

/************* Nav bar *************/

nav{
    display: flex;
    /* width: 100%; */
    padding-top: 36px;
    padding-bottom: 36px;
    justify-content: center;
    box-shadow: 0 2px 8px #888888;
}
.nav{
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.main-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-icon > h1{
    font-weight: 700;
    font-size: 45px;
    padding-left: 10px;
}
.main-icon > h1 > span{
    color: var(--primary-color);
}

.menu{
    /* justify-content: center; */
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    padding: 0 12px;
}

.social-icon{
    align-items: center;
    display: flex;
    padding: 12px;
    background-color: rgba(11, 2, 35, 0.1);
    border-radius: 12px;
}
.social-icon > *{
    padding: 0 6px;
}


/************* Main Header *************/
.main-banner{
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-img >img {
    width: 400px;
}
.text-wrapper{
    width: 400px;
}

.header-text h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 48px;
}

.header-text h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 95px;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
}

.text-wrapper p{
    color: #534C64;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0;
}
.btn-section{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

button{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: 0;
    cursor: pointer;
}

.primary-btn{
    background-color: var(--primary-color);
}



/************* Online Games *************/

.online-games-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.online-games-title{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    text-align: center;
}

.online-games-title h1, .play-inst-title h1{
    font-size: 48px;
    font-weight: 700;
}
.online-games-title h1 span, .play-inst-title h1 span{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}





.online-games-cards{
    display: flex;
    margin-top: 30px;
    gap: 8px;

}

.online-games-card{
    width: 250px;
    margin-bottom: 16px;
}


.container {
    position: relative;
    width: 250px;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .image {
    display: block;
    width: 250px;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 10px);
    width: 240px;
    opacity: 0;
    border-radius: 15px;
    transition: .2s ease;
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid var(--primary-color);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .icon > .watch-now{
    font-size: 34px;
  }
  .fa-user:hover {
    color: #eee;
  }


/************* PLAY inst *************/

.play-inst{
    display: flex;
    width: 1024px;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
}
.play-inst-title{
    width: 350px;
    text-align: right;
   
}


.image-on-top{
    position: relative;
    top: 0;
    left: 0;
}

.play-inst-img{
    width: 350px;
    margin-top: 20px;

    position: relative;
    top: 0;
    left: 0;

}

.play-inst-img-small {
    width: 150px;
    position: absolute;
    top: 250px;
    left: -20px;
    /* border: 3px solid #fff; */
  }




/************* btn section *************/

.btn-section-area{
    width: 1024px;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    flex-wrap: wrap;
}
.btn-section-area img{
    margin-right: 5px;
}
.btn-item {
    width: 200px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    margin: 20px 0;
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgba(11, 2, 35, 0.0);
}

.btn-item:hover{
    border: 1px solid var(--primary-color);
    border-radius: 35px;
    cursor: pointer;
    color: var(--primary-color);
}



/************* Footer *************/

footer{
    width: 100%;
    background-color: #0B0223;

}
.footer-content{
    padding-top: 100px;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.footer-content h1{
    color: #fff;
}

.page-link-list ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page-link-list a{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.link-list-icon ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.link-list-icon a{
    font-size: 40px;
    margin:0 50px;
}

.link-list-terms ul{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.link-list-terms a{
    color: rgba(255, 255, 255, 0.6);
}


.copy-right{
    margin-top: 30px;
    padding-bottom: 40px;
    color: rgba(255, 255, 255, 0.6);
}



    /* For mobile phones: */
@media only screen and (max-width: 426px) {

    .nav{
        /* width: 100%; */
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        margin-top: 30px;
    }
    .menu > ul{
        flex-direction: column;
    }
    .menu > ul> li{
        padding-bottom: 20px;
    }

    .main-banner{
        flex-direction: column;
    }

    .online-games-title{
        width: 400px;
    }
    .online-games-cards{
        flex-direction: column;
    }
    .online-games-title h1{
        font-size: 24px;
        font-weight: 700;
    }
    .play-inst{
        width: 100%;
        flex-direction: column;
    }
    .play-inst-title{
        text-align: center;
    }
    .btn-section-area{
        width: 100%;
    }
    .btn-section-area a {
        width: 140px;
        font-size: 12px;
    }
    .btn-section-area a img{
        width: 30px;
    }
    .footer-content{
        width: 100%;
    }
    .page-link-list ul{
        justify-content: center;
    }
    .page-link-list li{
        padding: 7px 16px;
    }
    .link-list-terms ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .link-list-terms li{
        padding: 5px 20px;
    }

}









    /* For Tablet: */
@media only screen and (max-width: 769px) {
    .nav{
        width: 100%;
        justify-content: space-around;
    }

    .menu{
        flex-direction: column;
    }
    .menu > ul{
        padding-bottom: 20px;
    }
    .main-banner{
        flex-direction: column;
    }
    .online-games-cards{
        flex-direction: column;
    }

    .btn-item {
        width: 80%;
  
    }
    .footer-content{
        width: 100%;
    }
    .page-link-list ul{
        justify-content: center;
    }
    .page-link-list li{
        padding: 7px 16px;
    }
    .link-list-terms ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .link-list-terms li{
        padding: 5px 20px;
    }
    .btn-section-area{
        width: 100%;
    }
    .btn-section-area a {
        width: 140px;
        font-size: 12px;
    }
    .btn-section-area a img{
        width: 30px;
    }
    .play-inst{
        width: 100%;
        flex-direction: column;
    }
    .play-inst-title{
        text-align: center;
    }
}




