:root{
    --text-color: #3C354F;
    --primary-color: #FF42A5;
    /* body { background-color: var(--text-color); } */
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    /* regular = 400 */
    /* medium = 500 */
    /* SemiBOld = 600 */
    /* BOld = 700 */
    /* extraBOld = 800 */
}

ul{
    list-style-type: none;
}

a, p{
    text-decoration: none;
    color: var(--text-color);
}

/************* Nav bar *************/

nav{
    display: flex;
    /* width: 100%; */
    padding-top: 36px;
    padding-bottom: 36px;
    justify-content: center;
    box-shadow: 0 2px 8px #888888;
}
.nav{
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > h1{
    font-weight: 700;
    font-size: 45px;
    padding-left: 10px;
}
.icon > h1 > span{
    color: var(--primary-color);
}

.menu{
    /* justify-content: center; */
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    padding: 0 12px;
}

.social-icon{
    align-items: center;
    display: flex;
    padding: 12px;
    background-color: rgba(11, 2, 35, 0.1);
    border-radius: 12px;
}
.social-icon > *{
    padding: 0 6px;
}


/************* Main Header *************/


.text-wrapper{
    width: 400px;
}

.header-text h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 48px;
}

.header-text h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 95px;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
}

.text-wrapper p{
    color: #534C64;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0;
}
.btn-section{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

button{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: 0;
    cursor: pointer;
}

.primary-btn{
    background-color: var(--primary-color);
}









/************* Footer *************/

footer {
    background-color: #0B0223;
    padding: 50px 0;
    box-sizing: border-box;
    justify-content: center;
}
.footer-content{
    width: 800px;
    flex-direction: column;
    align-items: center;
    

}

.footer-content h1{
    color:#fff;
}


.link-list a{
    text-decoration: none;
    color: #fff;
}
.link-list ul{
    width: 100%;
    display: flex;
}
.link-list ul li{
    padding: 16px 18px;
    font-weight: 600;
}

.link-list .white-icon{
    font-size: 32px;
}

.tearm a{
    font-weight: normal;
    color: var(--text-color);
}
.footer-content >p{
    margin-top: 16px;
}


    /* For mobile phones: */
@media only screen and (max-width: 425px) {

    .nav{
        /* width: 100%; */
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        margin-top: 30px;
    }
    .menu > ul{
        flex-direction: column;
    }
    .menu > ul> li{
        padding-bottom: 20px;
    }

}



    /* For Tablet: */
@media only screen and (max-width: 768px) {
    .nav{
        width: 100%;
        justify-content: space-around;
    }

    .menu{
        flex-direction: column;
    }
    .menu > ul{
        padding-bottom: 20px;
    }
}




