

:root{
    --text-color: #3C354F;
    --primary-color: #FF42A5;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* body { background-color: var(--text-color); } */

/************* Common *************/
main, nav{
    width: 100%;
}


.icon, .nav, .menu, .menu ul, .social-icon{
    display: flex;
}
.icon, .menu, .social-icon{
    justify-items: center;
    align-items: center;
}

ul{
    list-style-type: none;
}

a, p{
    text-decoration: none;
    color: var(--text-color);
}


/************* Nav bar *************/

nav{
    box-shadow: 0 0 15px grey;
    padding-top: 36px;
    padding-bottom: 36px;
}


.nav{
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
}
.icon h1{
    margin-left: 12px;
    font-weight: 900;
    font-size: 45px;
}
.icon span{
    color: var(--primary-color);
}


.menu ul li{
    margin-right: 12px;
}

.social-icon{
    background-color: rgba(11, 2, 35, 0.1);
    padding: 8px 16px;
    border-radius: 8px;
}
.social-icon *{
    padding-left: 16px;
}


